$breakpoint-tablet: 768px;
$breakpoint-large-tablet: 1068px;
$breakpoint-desktop: 1280px;
$teal-box-shadow: 0px 1px 8px 3px rgba(0, 107, 107, 0.86);


@font-face {
    font-family: website;
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
}