$navbar-bg: teal; // set the background color variable
@use "../../tools/partials/mixins" as *;
@use "../../tools/partials/variables" as *;

.App{
    position: relative;
}
.navbar {
    &Visible, &Hidden{
    color: whitesmoke;
    z-index: 2;
    position: relative;
    background-color: teal;
    display: flex;
    padding: 0 .5rem;
    align-items: center;
    justify-content: space-between;
    transition: top 0.3s;
    top:0;
    @include mobile{
        display: none;
    }
    }
    &Hidden {
        position: relative;
        top: -100px;
    }

    &__header {
        margin: 0;
        font-size: 1.8rem;
    }
    &__image{
        width:32px;
        height: 32px;
    }
    &__links{
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }
    &__link{
        width:fit-content;
        text-align: right;
        list-style: none;
    }

    &Mobile {
       
        &Visible,
        &Hidden {
            background-color: teal;
            width: calc(100%);
            max-width: 100vw;
            position: sticky;
            top: 0px;
            color: whitesmoke;
            z-index: 2;
            font-size: 1.5rem;
            transition: top 0.3s;
            height: fit-content;
            padding: .5rem;
            box-sizing: border-box;
           
            
            @include tablet{
                display: none;
            }
        }

        &Hidden {
            position: relative;
            top: -100px;
            transition: top 0.3s;
        }

        &__line1 {
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        &__links {
            &Closed {
                height: 0px;
                max-height: 0px;
                overflow: hidden;
                transition: max-height .5s;
                padding: 0;
                margin: 0;
                
            }
            &Open {
                max-height: 150px;
                transition: max-height .5s;
                padding-bottom: 5px;
                text-align: right;
                z-index: 2;
                background-color: inherit;
                margin: 0;
                width: 100%;
               
            }
        }
        &__link {
            width: calc(100% - 1rem);
            text-align: right;
            list-style: none;
            border-bottom: .5px solid whitesmoke;
            font-size: 1.2rem;
            padding-right: .5rem;
            &:last-child {
                margin: .5rem;
            }
            &:first-child{
                margin-top: 0;
                padding-top: 1rem;
            }
            
        }

    }
}

.navlink {
    color: inherit;
    width: fit-content;
    @include tablet{
        &:first-child{
            margin-right: 1.5rem;
            border-right: 1px solid whitesmoke;
            padding-right: 1.3rem;
        }
    }
}